.menu--vertical {
    @include tablets {
        background-color: #313131;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        font-size: rem(36px);
        font-weight: normal;
    }
}

.menu__list--vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}